<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lsh.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.lsh.entity.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password
    </sql>
    <select id="getAuthorities" resultType="java.lang.String">
        select code
        from sys_menu sm
                 left join sys_role_menu srm on sm.menu_id = srm.menu_id
        where srm.role_id in (select role_id from sys_user_role sur where sur.user_id = #{userId})
    </select>
</mapper>
